@charset "UTF-8";

/* Typical Device Breakpoints

Pequenas telas: até 600px
Celular: de 600px até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grandes telas: acima de 1200px
*/

@media (min-width: 768px) and (max-width: 992px) {
    /* Estilos para tablets */
    .principal {
      width: 768px;
    }

    .pesquisa > h1 {
      font-size: 2em;
    }
    
    .resultado {
      width: calc(100% - 80px);
    }

    .resultado > h3 {
      font-size: 1.5em;
    }

    .resultado > p {
      font-size: 1.2em;
    }
  }
  
  @media (min-width: 992px) {
    /* Estilos para desktops */
    .principal {
      width: 992px;
    }
    .pesquisa > h1 {
      font-size: 2em;
    }
    .resultado {
      width: calc(100% - 80px);
    }

    .resultado > h3 {
      font-size: 1.8em;
    }

    .resultado > p {
      font-size: 1.5em;
    }
}