@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    background: rgba(23, 23, 26, 1);
    height: 100vh;
    width: 100vw;
}

.pesquisa {
    width: 375px;
    height:  208px;
    padding: 48px 24px 48px 24px;
    background: rgb(38, 38, 42);
}

.pesquisa > input {
width: 327px;
height: 49px;
padding: 16px 24px 16px 24px;
gap: 12px;
border-radius: 8px;
border: 2px 0px 0px 0px;
}